myModule.py
SandBox.py
Archive.py
.venv/Lib/site-packages/__pycache__/autopep8.cpython-39.pyc
.venv/Lib/site-packages/__pycache__/pycodestyle.cpython-39.pyc
.venv/Lib/site-packages/toml/__pycache__/__init__.cpython-39.pyc
.venv/Lib/site-packages/toml/__pycache__/decoder.cpython-39.pyc
.venv/Lib/site-packages/toml/__pycache__/encoder.cpython-39.pyc
.venv/Lib/site-packages/toml/__pycache__/tz.cpython-39.pyc
